{%extends 'base.html'%}	
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{%block content%}
	<!-- Main -->
	<div id="main">

		<!-- One -->
		<section class="wrapper style1">
			<div class="inner">
				<header class="align-center">
					<h2>Página en construcción</h2>
					<p>Estamos trabajando para hacer de esta una experiencia única.</p>
				</header>
				<div class="video">
					<div class="video-wrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/pcW4u_lfmGg" frameborder="0"
							allowfullscreen></iframe>
					</div>
					<p class="caption">
						Mientras tanto, mantente conectado a nuestras redes sociales para enterarte cuando empiece este
						proyecto!
					</p>
				</div>
			</div>
		</section>

		{%endblock%}